/* style.css */

html, body {
    height: 100%;
    position: fixed;
    overflow: hidden; 
}

body {
    margin: 0;
    display: flex;
    background-color: #fafafa;
    /* This centers our sketch horizontally. */
    justify-content: center;
}
